<div class="show">
<% if @trade %>
<h2><%= @trade.security.company.name %></h2>
<% end %>

<h3>Gain</h3>
<table class="ledger">
<th>Sell Date</th>
<th>Shares Sold</th>
<th>Price</th>
<th>Amount</th>
<th>Basis</th>
<th>Basis PS</th>
<th>Gain</th>
<th>Gain PS</th>
<th></th>
<% if @trade %>
<tr>
<td><%= @trade.date %></td>
<td><%= @trade.shares %></td>
<td class="currency"><%= number_to_currency(@trade.price) %></td>
<td class="currency"><%= number_to_currency(@trade.amount) %></td>
<td class="currency"><%= number_to_currency(@trade.basis) %></td>
<td class="currency"><%= number_to_currency(@trade.basis / @trade.shares) %></td>
<td class="currency"><%= number_to_currency(@trade.amount - @trade.basis) %></td>
<td class="currency"><%= number_to_currency((@trade.amount - @trade.basis) / @trade.shares) %></td>
<% if @account %>
<td><%= link_to 'Update', year_account_gain_path(@year, @account, @trade), :method => :put %></td>
<% else %>
<td><%= link_to 'Update', year_gain_path(@year, @trade), :method => :put %></td>
<% end %>
</tr>
<% end %>
</table>

<% if @gains %>
<h3>Gain Detail</h3>
<table class="ledger">
<th>Buy Date</th>
<th>Shares Sold</th>
<th>Price</th>
<th>Amount</th>
<th>Basis</th>
<th>Basis PS</th>
<th>Gain</th>
<th>Gain PS</th>
<% tot_a = 0 %>
<% tot_b = 0 %>
<% for g in @gains %>
<tr>
<td><%= g.buy.date %></td>
<td><%= g.shares_sold %></td>
<% tot_a += g.amount %>
<% tot_b += g.basis %>
<td class="currency"><%= number_to_currency(@trade.price) %></td>
<td class="currency"><%= number_to_currency(g.amount) %></td>
<td class="currency"><%= number_to_currency(g.basis) %></td>
<td class="currency"><%= number_to_currency(g.basis / g.shares_sold) %></td>
<td class="currency"><%= number_to_currency(g.amount - g.basis) %></td>
<td class="currency"><%= number_to_currency((g.amount - g.basis) / g.shares_sold) %></td>
</tr>
<% end %>
<tr>
<td></td>
<td></td>
<td></td>
<td class="currency"><%= number_to_currency(tot_a) %></td>
<td class="currency"><%= number_to_currency(tot_b) %></td>
<td></td>
<td class="currency"><%= number_to_currency(tot_a - tot_b) %></td>
<td></td>
</tr>
</table>
<% end %>

<h3>Trades</h3>
<div id="trades">
<% if @account %>
<%= render :partial => 'trades/trade',
           :locals  => {:account => @account, :security => nil, :trades => @trades, :allow_delete => false} %>
<% else %>
<%= render :partial => 'trades/trade',
           :locals  => {:account => nil, :security => nil, :trades => @trades, :allow_delete => false} %>
<% end %>
</div>
</div>

<% if @year %>
<ul id="footmenu">
<% if @account %>
<li><%= link_to 'Back to Gains', year_account_gains_path(@year, @account) %></li>
<% else %>
<li><%= link_to 'Back to Gains', year_gains_path(@year) %></li>
<% end %>
<li><%= link_to 'Back to Security', security_path(@trade.security) %></li>
</ul>
<% end %>
