<div class="edit">
<h2>Edit Recurring Transaction</h2>

<%= error_messages_for 'r_cash_flow' %>

<label>Account Name:</label> <strong><%= @r_cash_flow.account.name %></strong>

<div id="splits">
<%= render :partial => 'cash_flows/split',
	   :locals  => {:cash_flow => @r_cash_flow} %> 
</div>

<%= form_for @r_cash_flow do |f| %>
<table>
<tr>
<td>Type: </td>
<td><%= f.collection_select :cash_flow_type_id, @cash_flow_types, :id, :name %></td>
</tr>
<tr>
<td>Reoccurance: </td>
<td><%= f.collection_select :repeat_interval_type_id, @repeat_interval_types, :id, :name %></td>
</tr>
<tr>
<td>Repeats: </td>
<td><%= f.text_field :repeats_left %></td>
</tr>
<tr>
<td>Rate: </td>
<td><%= f.text_field :rate %></td>
</tr>
</table>
<table>
<tr>
<td><%= f.date_select :date %></td>
<td>Next Transnum?: <%= f.check_box :transnum %></td>
</tr>
<tr>
<td>Payee:<br> <%= f.text_field :payee_name %></td>
<td>Amount:<br> <%= f.text_field :amount %></td>
</tr>
<tr>
<td>Category:<br> <%= f.collection_select :category_id, @categories, :id, :name %></td>
<td>Memo:<br> <%= f.text_field :memo %></td>
</tr>
</table>
<!-- need to have fields w/defaults here as hidden -->
<%= f.hidden_field :split_from %>
<%= f.hidden_field :repeat_interval_id %>
<p>
  <%= submit_tag 'Update Scheduled Transaction' %>
</p>
<% end %>

<%= form_for [ @r_split_cash_flow ] do |f| %>
<table>
<tr>
<td>Type: </td>
<td><%= f.collection_select :cash_flow_type_id, @cash_flow_types, :id, :name %></td>
</tr>
</table>
<table>
<tr>
<td>Payee:<br> <%= f.text_field :payee_name %></td>
<td>Amount:<br> <%= f.text_field :amount %></td>
<tr>
<td>Category:<br> <%= f.collection_select :category_id, @categories, :id, :name %></td>
<td>Memo:<br> <%= f.text_field :memo %></td>
</table>
<%= f.hidden_field :split_from %>
<%= f.hidden_field :split %>
<%= f.hidden_field :account_id %>
<%= f.hidden_field :date %>
<%= f.hidden_field :repeat_interval_id %>

<p>
  <%= submit_tag 'Add Split' %>
</p>
<% end %>
</div>

<ul id="footmenu">
<li><%= link_to 'Back to Account', account_path(@r_cash_flow.account) %></li>
<li><%= link_to 'Back to CashFlows', r_cash_flow_path(@r_cash_flow) %></li>
<li><%= link_to 'Delete CashFlow', r_cash_flow_path(@r_cash_flow), :method => :delete %></li>
</ul>
