<%= javascript_include_tag 'best_in_place' %>
<%= javascript_include_tag 'best_in_place.purr' %>

<%= error_messages_for 'cash_flow' %>
<% if !cash_flows.empty? %>
<div class="dynamic">
<table class="ledger resizable editable">
<thead>
<tr>
<th id="date">Date</th>
<th id="transnum">#</th>
<th id="payee_name">Payee</th>
<th id="category_id">Category</th>
<th id="amount">Amount</th>
<% if balance %>
<th id="balance" class="noedit">Balance</th>
<% end %>
<th class="noedit"></th>
<th class="noedit"></th>
</tr>
</thead>
<tbody>
<% n = 0 %>
<% for c in cash_flows %>
<% if (n % 2) == 0 %>
<tr id="<%= c.id %>">
<% else %>
<tr id="<%= c.id %>" class="even">
<% end %>
<% n = n + 1 %>
<td><%= c.date %></td>
<td><%= c.short_transnum %></td>
<% if c.transfer %>
<td><%= c.get_payee_name %></td>
<% elsif c.trade? %>
<td><%= link_to c.get_payee_name, account_security_path(@account, c.security) %></td>
<% else %>
<td><%= link_to c.get_payee_name, account_payee_path(@account, c.payee_id) %></td>
<% end %>
<td>
<% if @allow_edit and c.is_editable? %>
<%= best_in_place c, :category_id, :type => :select, :collection => @inplace_categories %>
<% elsif c.is_editable? %>
<%= link_to c.get_cat_name, account_category_path(@account, c.category_id) %>
<% else %>
<%= c.get_cat_name %>
<% end %>
</td>
<td class="currency">
<% if c.is_editable? %>
<%= number_to_currency best_in_place c, :amount, :display_as => :amount_to_f %>
<% else %>
<%= number_to_currency c.amount %>
<% end %>
</td>
<% if balance %>
<td class="currency"><%= number_to_currency(balance) %></td>
<% balance -= c.amount %>
<% end %>
<% if c.trade? %>
<td><%= link_to 'Edit', edit_security_trade_path(c.trade.security, c.trade) %></td>
<td><%= link_to 'Info', security_path(c.trade.security) %></td>
<% else %>
<td><%= link_to 'Edit', edit_cash_flow_path(c) %></td>
<td><%= link_to 'Delete', cash_flow_path(c), :method => :delete %></td>
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>
