<div class="show">
<%= error_messages_for 'tax' %>

<h2>Tax Results</h2>
<table class="standard">
<th>Year</th>
<th>Status</th>
<th>AGI</th>
<th>Deductions</th>
<th>Taxable</th>
<th>Owed Tax</th>
<th>Credits</th>
<th>Payments</th>
<th>Unpaid Tax</th>
<th></th>
<% for r in @tax_results %>
<tr>
<td><%= link_to r.year, year_taxes_path(r.year.to_i) %> : <%= r.tax_region.name %></td>
<td><%= r.filing_status_label %>, <%= r.exemptions %></td>
<td class="currency"><%= number_to_currency(r.agi_income) %></td>
<td class="currency"><%= number_to_currency(r.from_agi) %></td>
<td class="currency"><%= number_to_currency(r.taxable_income) %></td>
<td class="currency"><%= number_to_currency(r.owed_tax) %></td>
<td class="currency"><%= number_to_currency(r.credits) %></td>
<td class="currency"><%= number_to_currency(r.payments) %></td>
<td class="currency"><%= number_to_currency(r.unpaid_tax) %></td>
<% if @year %>
<td>
<%= link_to 'Recalculate', year_tax_user_path(@year, r), :method => :put %><br>
<%= link_to 'Edit', edit_year_tax_user_path(@year, r) %><br>
<%= link_to 'Delete', year_tax_user_path(@year, r), :method => :delete %>
</td>
<% else %>
<td>
<%= link_to 'Recalculate', tax_user_path(r), :method => :put %><br>
<%= link_to 'Edit', edit_tax_user_path(r) %><br>
<%= link_to 'Delete', tax_user_path(r), :method => :delete %>
</td>
<% end %>
</tr>
<% end %>
</table>

<% if @year %>
<% _submit_path = year_tax_users_path(@year) %>
<% else %>
<% _submit_path = tax_users_path %>
<% end %>
<%= form_for @tax_result, :url => _submit_path do |f| %>
<fieldset>
<label>Tax Year</label>
<%= f.text_field :year, :size => 10 %>
<% if nil %>
<%= f.date_select :year, { :discard_day => true, :discard_month => true } %>
<% end %>
<%= f.collection_select :tax_region_id, @tax_regions, :id, :name %>
<%= f.collection_select :filing_status, @tax_filing_status, :id, :name %>
</fieldset>
<fieldset class="last">
<label>Exemptions</label>
<%= f.text_field :exemptions, :size => 10 %>
</fieldset>
<fieldset class="submit">
<%= submit_tag 'Add Tax Result'%>
</fieldset>
<% end %>

<% if @show_tax_items %>
<h2>Tax Items</h2>
<table class="standard">
<% for t in @taxes %>
<tr>
<td><%= t.year.year %></td>
<td><%= t.tax_region.name %></td>
<% if @year %>
<td><%= link_to t.tax_type.name, year_tax_type_path(@year, t.tax_type) %></td>
<% if @account %>
<td><%= link_to t.tax_item.name, year_account_tax_item_path(@year, @account, t.tax_item) %></td>
<% else %>
<td><%= link_to t.tax_item.name, year_tax_item_path(@year, t.tax_item) %></td>
<% end %>
<% else %>
<td><%= link_to t.tax_type.name, tax_type_path(t.tax_type) %></td>
<td><%= link_to t.tax_item.name, tax_item_path(t.tax_item) %></td>
<% end %>
<td><%= t.memo %></td>
<td class="currency"><%= number_to_currency(t.amount) %></td>
<% if t.id %>
<% if @year %>
<td><%= link_to 'Edit', edit_year_tax_path(@year, t) %></td>
<td><%= link_to 'Delete', year_tax_path(@year, t), :method => :delete %></td>
<% else %>
<td><%= link_to 'Edit', edit_tax_path(t) %></td>
<td><%= link_to 'Delete', tax_path(t), :method => :delete %></td>
<% end %>
<% else %>
<td></td>
<td></td>
<% end %>
</tr>
<% end %>
</table>

<% if @account.nil? %>
<% if @year %>
<% _submit_path = year_taxes_path(@year) %>
<% else %>
<% _submit_path = taxes_path %>
<% end %>
<%= form_for @tax, :url => _submit_path do |f| %>
<fieldset>
<label>Tax Year</label>
<%= f.date_select :year, { :discard_day => true, :discard_month => true } %>
<%= f.collection_select :tax_region_id, @tax_regions, :id, :name %>
</fieldset>
<fieldset>
<label>Item Name</label>
<%= f.collection_select :tax_type_id, @tax_types, :id, :name %>
<%= f.collection_select :tax_item_id, @tax_items, :id, :name %>
</fieldset>
<fieldset>
<label>Memo</label>
<%= f.text_field :memo %>
</fieldset>
<fieldset class="last">
<label>Amount</label>
<%= f.text_field :amount %>
</fieldset>
<fieldset class="submit">
<%= submit_tag 'Add Tax Item'%>
</fieldset>
<% end %>
<% end %>
<% end %>
</div>

<ul id="footmenu">
<li><%= link_to 'Tax Categories', tax_categories_path %></li>
<% if @year && @account %>
<li><%= link_to 'All Account Taxes', year_taxes_path(@year) %></li>
<li><%= link_to 'Last Year Taxes', year_account_taxes_path(@year.to_i - 1, @account) %></li>
<% elsif @year %>
<li><%= link_to 'Last Year Taxes', year_taxes_path(@year.to_i - 1) %></li>
<li><%= link_to 'All Taxes', taxes_path %></li>
<% else %>
<li><%= link_to 'Current Year Taxes', year_taxes_path(Date.today.year.to_i) %></li>
<li><%= link_to 'Last Year Taxes', year_taxes_path(Date.today.year.to_i - 1) %></li>
<% end %>
<li><%= link_to 'Tax Year Data', tax_years_path %></li>
</ul>
