<div class="edit">
<h2>Edit Category</h2>

<%= error_messages_for 'category' %>

<%= form_for @category do |f| %>
<fieldset class="last">
<label>Category Name</label>
<%= f.text_field :name %>
<%= f.collection_select :category_type_id, @category_types, :id, :name %>
</fieldset>
<fieldset class="submit">
<%= submit_tag 'Update'%>
</fieldset>
<% end %>
</div>

<ul id="footmenu">
<% if @account %>
<li><%= link_to 'Back to Category', account_category_path(@account, @category) %></li>
<li><%= link_to 'Back to Categories', account_categories_path(@account) %></li>
<% if !@category.in_use? %>
<li><%= link_to 'Delete Category', account_category_path(@account, @category), :method => :delete %></li>
<% end %>
<% else %>
<li><%= link_to 'Back to Category', category_path(@category) %></li>
<li><%= link_to 'Back to Categories', categories_path %></li>
<% if !@category.in_use? %>
<li><%= link_to 'Delete Category', category_path(@category), :method => :delete %></li>
<% end %>
<% end %>
</ul>
