<div class="edit">
<h2>Payee Cashflows</h2>

<%= error_messages_for 'payee' %>

<div id="cash_flows">
<%= render :partial => 'payees/long_cash_flow',
	   :locals  => {:cash_flows => @payee_cash_flows} %> 
</div>

<%= form_for @payee do |f| %>
<fieldset>
<label>Payee Name</label>
<%= f.text_field :name %>
</fieldset>
<fieldset>
<label>Payee Location</label>
<%= f.text_field :address %>
</fieldset>
<fieldset class="last">
<label>Default Category</label>
<%= f.collection_select :category_id, @categories, :id, :name %>
</fieldset>
<fieldset class="submit">
<table><tr>
<td>
<%= submit_tag 'Update'%>
</td>
<td>
<%= submit_tag 'Update Unset'%>
</td>
<td>
<%= submit_tag 'Update All'%>
</td>
</tr></table>
</fieldset>
<% end %>
</div>

<ul id="footmenu">
<% if @account %>
<li><%= link_to 'All Payee CashFlows', payee_path(@payee) %></li>
<li><%= link_to 'Back to Account', account_path(@account) %></li>
<li><%= link_to 'Back to Payees', account_payees_path(@account) %></li>
<li><%= link_to 'Edit Payee', edit_account_payee_path(@account, @payee) %></li>
<% if !@payee.in_use? %>
<li><%= link_to 'Delete Payee', account_payee_path(@account, @payee), :method => :delete %></li>
<% end %>
<% else %>
<li><%= link_to 'Back to Payees', payees_path %></li>
<li><%= link_to 'Edit Payee', edit_payee_path(@payee) %></li>
<% if !@payee.in_use? %>
<li><%= link_to 'Delete Payee', payee_path(@payee), :method => :delete %></li>
<% end %>
<% end %>
</ul>
