<div class="new">
<h2>New Security Price Alert</h2>

<%= error_messages_for 'alert' %>

<%= form_for @alert do |f| %>
<fieldset class="last">
<label>Price</label>
<%= f.text_field :price %>
</fieldset>
<fieldset class="submit">
<%= submit_tag 'Add Alert' %>
</fieldset>
<%= f.hidden_field :security_id %>
<% end %>
</div>

<ul id="footmenu">
<li><%= link_to 'Back to Alerts', security_alerts_path %></li>
</ul>
